:root {
  --small-shadow: 3px 3px 0 #e6a139;
  --big-shadow: 5px 5px 0 rgb(230, 160, 55);
  --main-color: #e6a139;
}

body {
  background: #f0f0f0;
}

.main {
  padding-top: 30px;
}

.h2 {
  margin: 0;
  font-size: 24px;
}

.caption-under-header {
  margin-top: 5px;
}

.link {
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link:hover {
  color: #eb8d00;
  text-decoration: none;
  border-bottom: 1px solid #eb8d00;
}

.link:focus {
  text-decoration: none;
  color: #eb8d00;
}

.link--dashed,
.link--dashed:hover {
  border-bottom-style: dashed;
}

.textarea {
  height: 70px;
}

th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th,
td {
  border-top: none !important;
}

.navbar-inverse {
  background: #333;
  color: #fff;
  margin-bottom: 0;
  border-bottom: none;
}

.navbar-brand {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 182px;
  box-sizing: border-box;
}

.navbar-info {
  padding-top: 12.25px;
  padding-bottom: 12.25px;
}

.navbar-info--right {
  margin-left: 30px;
}

.navbar-info__eme,
.navbar-info {
  color: #b3b3b3;
}

.navbar-info__usd {
  color: #26ff63;
}

.navbar-info__btc {
  color: #e6a139;
}

.sidebar {
  background: #333;
  margin: 0;
  width: 100%;
  padding-top: 30px;
  height: calc(100vh - 65px);
}

.no-padding {
  padding: 0;
}

.menu {
  font-size: 15px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.menu__item,
.menu-section__header {
  color: rgb(230, 230, 230);
}

.menu-section__header {
  font-size: 13px;
  font-weight: 400;
  padding-left: 25px;
  color: rgb(177, 177, 177);
}

.menu__item {
  padding-left: 35px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 3px;
  width: 100%;
}

.menu__item:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.menu__item:focus {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.menu__item:active {
  background: rgba(240, 240, 240, 0.11);
  color: #fff;
}

.menu__item--active {
  background: #f0f0f0;
  color: #333;
}

.menu__item--active:hover {
  background: #f0f0f0;
  color: #333;
}

.menu__item--active:active {
  background: #f0f0f0;
  color: #333;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.profile__photo {
  width: 100px;
  box-shadow: var(--small-shadow);
}

.profile__name {
  color: rgb(230, 230, 230);
  margin-top: 15px;
}

.block {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.main-chart {
  width: 100%;
  height: 100%;
  /* box-shadow: var(--big-shadow); */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn {
  border-radius: 0;
  border-width: 1px;
  background: #fff;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background: #fff8f2;
  border: 1px solid #e6cfbc;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(144, 144, 144, 0.1);
  font-weight: 500;
}

.btn:hover {
  border: 1px solid #e7c6ab;
  background: #fff;
  background: #ffe8d4;
}

.btn:active {
  border-color: rgb(204, 204, 204);
  background: #fff;
  box-shadow: none;
}

.btn:focus {
  background: #fff;
}

.btc--full-width {
  width: 100%;
}

.btn .caret {
  position: relative;
  bottom: 1px;
  margin-left: 34px;
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.block-header__dropdowns {
  display: flex;
}

.dropdown--left {
  margin-right: 10px;
}

.token-buy {
  display: flex;
}

.token-buy__qr-code-image {
  width: 103px;
}

.token-buy__content {
  margin-left: 10px;
  width: 100%;
}

.token-buy__addess {
  padding-top: 6px;
  padding-bottom: 5px;
  width: calc(100% - 119px);
  box-sizing: border-box;
  text-align: center;
  border: 1px dashed #a1a1a1;
  box-sizing: border-box;
}

.token-buy__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.token-buy__text {
  margin-bottom: 0;
}

.block-content {
  margin-left: -20px;
  margin-right: -20px;
}

.token-buy-history-table th,
.token-buy-history-table td {
  line-height: 1.25 !important;
}

.token-buy-history-table td:first-child,
.token-buy-history-table td:last-child,
.token-buy-history-table th:first-child,
.token-buy-history-table th:last-child {
  padding-left: 20px;
  padding-right: 20px;
}

/* SIGN UP, SIGN IN AND RESET PASSWORD */

.background {
  background: url('img/dark-bg.png');
  background-size: cover;
  height: 100vh;
}

.container--with-background {
  color: #fff;
}

.sign-wrapper {
  margin-top: 100px;
}

.sign-form {
  margin-top: 25px;
  margin-bottom: 10px;
}

.center-block {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #e6cfbc;
}

.form-control--text-center {
  text-align: center;
}

.token-price-big {
  font-size: 36px;
}

.token-price-big--btc {
  color: var(--main-color);
  margin-left: 15px;
}

.token-price__header {
  margin-bottom: 9px;
}

.line-under-header {
  width: 55px;
  height: 5px;
  background: #E5A406;
  display: inline-block;
}

.link--light {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

.btn--primary,
.btn--primary:hover,
.btn--primary:active {
  background-color: #E5A406;
  border: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--primary:active,
.btn--primary:focus {
  background: rgb(194, 140, 5) !important;
}

.form-control--on-dark-bg {
  box-shadow: none;
}

.form-control--on-dark-bg:active {
  border: 1px solid #E5A406;
}